# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Android Studio / IntelliJ
*.iml
.idea/

# macOS
.DS_Store

# Android
/captures/
/.externalNativeBuild/
/.cxx/

# Logs
*.log

# Kotlin
.kotlin/

# Generated APK/AAB
*.apk
*.aab
